html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #12343b;
    background-color: #e1b382;
}

/* Header Section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

nav ul {
    display: inline-flex;
    float: left;
}

nav li {
    list-style: none;
    text-decoration: underline;
    font-size: 1.5rem;
    padding: 0 3rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #2d545e;
}

h1 {
    font-size: 3rem;
    margin-left: 1rem;
}

/* Main Content Section */

.subheader {
    display: flex;
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
    background-size: cover;
    background-repeat: none;
    height: 500px;
    flex: 1 1 100%;
    justify-content: center;
    
}

.subheader .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 11rem;
    background-color: #c89666;
    margin-top: 9rem;
    line-height: 1rem;
}

p {
    color: #2d545e;
    font-size: 2rem;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.companies img {
    height: 15%;
    width: 15%;
    margin: 1rem;
}

.companies p {
    margin: 5rem 0.5rem;
    font-style: italic;
}

/* Team Section */

.team-section {
    display: block;
    text-align: center;
    
}

.team {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg");
    background-size: cover;
    background-repeat: none;
    
    padding-top: 5px;
    height: 80%;
}

.teammate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 280px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.teammate img {
    flex: 1 1 100%;
    height: 60%;
}

.teammate p {
    display: block;
    color: rgba(255, 255, 255, 0.888);
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}

.contact {
    text-align: center;
    line-height: 0.5rem;
    width: 100%;
    
}

.copyright p {
    font-size: 1.5rem;
    text-align: center;
}



