body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo {
    float: left;
    padding: 10px;
    width: 12%;
    height: 50px;
}

.nav {
    display: inline-flex;
    float: right;
    
}

li {
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
    list-style: none;
    text-decoration: underline;
    margin-left: 20px;
}

.page {
    padding: 0 5%;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*s7zql3*_ga*NzcyNTQ4ODIwMC4xNjY4NjQ3ODQ3*_ga_3LRZM6TM9L*MTY3MTQ5Mjk5MC4xOS4xLjE2NzE1MDM0MjcuNjAuMC4w');
    background-size: cover;
    flex: 1 1 1200px;
    height: 700px;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    margin-top: 250px;
    line-height: 2px;
}

.month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2px;
    flex: 1 1 1000px;
}

.tealineone {
    display: inline-flex;
    width: 1200px;
    padding-left: 50px;
    padding-right: 100px;
    justify-content: center;
}

.tealinetwo {
    display: inline-flex;
    width: 1200px;
    padding-left: 50px;
    padding-right: 100px;
    justify-content: center;
}

.teatype {
    margin: 0 15px;
}

.teatype img {
    height: 200px;
    width: 300px;
}

.locations {
    display: inline-flex;
    position: relative;
    /*justify-content: center;*/
    
}

.locationheading {
    position: absolute;
    justify-content: center;
    margin-top: 130px;
    margin-left: 450px;
    width: 300px;
}

.downtown {
    position: absolute;
    background-color: black;
    justify-content: center;
    margin-top: 230px;
    margin-left: 110px;
    /*margin-right: 600px;*/
    width: 300px;
}

.eastbayside {
    position: absolute;
    background-color: black;
    justify-content: center;
    margin-top: 230px;
    margin-left: 450px;
    width: 300px;
}

.oakdale {
    position: absolute;
    background-color: black;
    justify-content: center;
    margin-top: 230px;
    margin-left: 790px;
    width: 300px;

}

.bottom {
    height: 200px;
}

footer {
    margin: 0 20px;
    text-align: left;
}
